.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 50px;
  position: sticky;
  top: 0;
  left: 0;
}

.header__ttl1 {
  font-size: 25px;
  width: 100px;
}

.tech__ttl {
  text-decoration: none;
  color: inherit;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
  list-style: none;
  
}

.header-nav-item {
  margin: 0 30px 0 0;

}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: none;
}

.drawer {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: .7s;
  text-align: center;
}

.drawer__name {
  text-decoration: none;
}

.drawer__list {
  padding-top: 80px;
}

.drawer__item {
  list-style-type: none;
  margin-top: 50px;
}

.mv {
  background: url(../img/mv.png) center/cover;
  height: 280px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: -100px;
}

.contact {
  margin: 180px 200px 0 200px;
}

.contact__form__item {
  margin-top: 15px;
}

.contact__form__name {
  font-weight: bold;
}

.contact__form__input {
  margin-top: 5px;
  font-size: 16px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact-form-item-textarea{
  font-size: 16px;
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	appearance: none;
	-webkit-appearance: none;
  -moz-appearance: none;
  resize: none;
}

.contact__form__item__mark {
  color: red;
}

.contact__form__submit {
  width: 300px;
  text-align: center;
  margin: 20px auto 100px;
	padding: 15px;
	border: none;
  display: block;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.footer {
  padding: 20px 0;
  color: white;
  background-color: black;

}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.fotter__copyright {
  margin-left: 150px;
  margin-top: -7px;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  list-style: none;
  margin: -10px 100px 0 0;
}

.footer__item {
  margin: 2px ;
}

.footer__item::after {
  content: "|";
  display: inline-block;
  padding: 0 15px;
}

.footer__item:last-child::after {
  display: none;
}